.ConnectFourBoardCell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
}

.ConnectFourBoardCell__cell {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/cell.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 999;
}