.ConnectFourHints {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 700px;
}

.ConnectFourHints__score {
    height: 30px;
    width: 80px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

.ConnectFourHints__score--not-applicable {
    visibility: hidden;
}

.ConnectFourHints__score--good {
    background-color: green;
}

.ConnectFourHints__score--bad {
    background-color: red;
}

.ConnectFourHints__score--good, .ConnectFourHints__score--bad {
    color: white;
}