.ConnectFourHints {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 700px;
}

.ConnectFourHints__score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

.ConnectFourHints__score--not-applicable {
    visibility: hidden;
}

.ConnectFourHints__score--good {
    background-color: green;
}

.ConnectFourHints__score--bad {
    background-color: red;
}

.ConnectFourHints__score--good, .ConnectFourHints__score--bad {
    color: white;
}